.todo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  background-color: #fff;
  margin: 0.5rem 0;
  box-shadow: 2px 2px 8px #a4a4a4;
  border-radius: 5px;
  p {
    margin: 0;
    padding: 0 1rem;
    font-size: 1.2rem;
  }
  button {
    border: none;
    margin: -0.5rem;
    cursor: pointer;
    color: #ffffff;
    background-color: #970000;
    border-radius: 0 5px 5px 0;
  }
}

.done {
  text-decoration: line-through;
  color: #cccccc;
}
