.todo-app {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  .container {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    .header {
      font-size: 4rem;
      font-weight: 100;
      letter-spacing: -4px;
      color: #ef582c;
      span {
        font-weight: 700;
      }
    }
  }
}

@media (max-width: 1000px) {
  .container {
    width: 60%;
  }
}

@media (max-width: 800px) {
  .container {
    width: 100%;
  }
}
