.todo-form {
  width: 100%;
  padding: 1rem;
  display: flex;
  input {
    margin-right: 1rem;
    width: 80%;
    padding: 1rem;
    font-size: 1.4rem;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #a4a4a4;
  }
  button {
    width: 20%;
    padding: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -3px;
    background-color: #ef582c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #a4a4a4;
    cursor: pointer;
    &:hover {
      background-color: #d74f28;
      color: #ffffff;
    }
  }
}
